.App {
  margin-top: 40px;
  margin-bottom: 40px;
}

.ui.card, .ui.cards > .card {
  width: 356px !important;
}
.activity-table-body {
  position: relative;
}
.activity-table-body tr {
  height: 108px;
}