.App {
  margin-top: 40px;
  margin-bottom: 40px;
}

.ui.basic.blue.button-link {
  box-shadow: none !important;
  padding: 12px 0 0 0;
}

.ui.basic.blue.button-link:hover,
.ui.basic.blue.button-link:focus,
.ui.basic.blue.button-link:active {
  box-shadow: none !important;
}